@page "/console"
@inherits IndexModel

<PageTitle>Console</PageTitle>

<h1>Management</h1>

Welcome to your new Console.

<LastCommentsDisplay Title="Latest comment" Batch=Contacts OnRefresh="GetLatestContacts"/>